.poke--template {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    color: aliceblue;
  }
  .poke--template--wrapper {
    width: 32rem;
    height: 32rem;
    border-radius: 50%;
    box-shadow: 0 0 30px #02185e;

    .poke--template--wrapper__inside {
      box-shadow: inset 0 0 150px #02185e;
      background-color: #4e5d8e;

      border-radius: 50%;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.3s;
    }

    transition: 0.1s;
    img {
      width: 80%;
      height: auto;
      filter: drop-shadow(0 0 6px rgb(153, 220, 20)) grayscale(28%)
        brightness(100%);
      transition: 0.3s;
    }
  }
}
.poke--template--wrapper:hover {
  box-shadow: 0 0 10px #02185e;
  .poke--template--wrapper__inside:hover {
    box-shadow: inset 0 0 150px #02185e;
    background-color: #010e38;
    // transform: scale(1.05);
    img:hover {
      width: 85%;
      height: auto;
      filter: drop-shadow(0 0 18px rgb(153, 220, 20)) grayscale(0%)
        brightness(105%);
    }
  }
}
