* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p {
    padding: 0.2rem;
}



.flexBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexColumn {
    flex-direction: column;
}

h1 {
    font-size: 2rem;
}

img {
    width: 20rem;
    height: 20rem;
}

.circle {
    width: 24rem;
    height: 24rem;
    padding: 2rem;
    border: solid blue 1px;
    border-radius: 50%;
    overflow: hidden;
}

button {
    margin: 0.625rem;
}